@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  transition: all 0.5s;
  color: #fff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color:black;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: lightgray;
  position: relative;
  top: -310px;
  border-radius: 10px;
}

li {
  float: left;
}

li a {
  display: block;
  color: #222242;
  font-size: 20px;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

.active {
  background-color: gray;
  color: white;
}

li a:hover {
  background-color: #00b84c;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: fit-content;
}

.timer {
  font-family: sans-serif;
  display: inline-block;
  padding: 24px 32px;
  border-radius: 30px;
  background: orange;
  position: relative;
  top: 14px;
}

.timer__part {
  font-size: 36px;
  font-weight: bold;
  color: black;
}

.timer__btn {
  width: 50px;
  height: 50px;
  margin-left: 16px;
  border-radius: 50%;
  border: none;
  color: white;
  background: #8208e6;
  cursor: pointer;
}

.timer__btn--start {
  background: #00b84c;
}

.timer__btn--stop {
  background: #ff0256;
}